<header>
    <div class="container-fluid header-main">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <h1><a title="Consumer Portal Home" ui-sref="LayoutMain.Home"><img src="/Content/images/ld-logo.png"> <span>Sunrise</span></a> </h1>
            </div>
            <div class="col-xs-12 col-md-4 hidden-sm-down">
                <div class="header-user pull-xs-right">
                    <span ng-bind="vm.userInfo.UserName"></span>
                     <i class="fa fa-user-circle" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</header>